@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <h2>Navigate to Controllers</h2>
        <ul>
            <li><a asp-controller="Accounts" asp-action="Index">Accounts</a></li>
            <li><a asp-controller="Addresses" asp-action="Index">Addresses</a></li>
            <li><a asp-controller="Bankers" asp-action="Index">Bankers</a></li>
            <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
            <li><a asp-controller="InvestmentAccounts" asp-action="Index">Investment Accounts</a></li>
            <li><a asp-controller="Investments" asp-action="Index">Investments</a></li>
            <li><a asp-controller="Loans" asp-action="Index">Loans</a></li>
            <li><a asp-controller="Manager" asp-action="Index">Manager</a></li>
            <li><a asp-controller="LedgerEntries" asp-action="Index">Ledger Entries</a></li>
            <li><a asp-controller="StoredProcedures" asp-action="Index">Stored Procedures</a></li>
            <li><a asp-controller="Queries" asp-action="Index">Queries</a></li>
        </ul>
    </div>
</div>
