@{
    ViewData["Title"] = "Stored Procedures Index";
}

<div class="text-center">
    <h1 class="display-4">Stored Procedures</h1>
    <div>
        <h2>Actions</h2>
        <ul>
            <li><a asp-controller="StoredProcedures" asp-action="GetCustomerLoansAndInvestments">Get Customer Loans And Investments</a></li>
            <li><a asp-controller="StoredProcedures" asp-action="AggregateInfoPerBanker">Aggregate Info Per Banker</a></li>
            <li><a asp-controller="StoredProcedures" asp-action="CustomerDetailsWithBothAccounts">Customer Details With Both Accounts</a></li>
            <li><a asp-controller="StoredProcedures" asp-action="TotalInvestmentPerCustomer">Total Investment Per Customer</a></li>
        </ul>
    </div>
</div>
